@import url(https://fonts.googleapis.com/css?family=Bad+Script|Poiret+One|Lora:400,400italic,700,700italic&subset=latin,cyrillic);
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=cyrillic-ext');
/*

font-family: 'Bad Script', cursive;
font-family: 'Poiret One', cursive;
font-family: 'Comfortaa', cursive;
font-family: 'Lora', serif;

*/

*{
	font-family: 'Open Sans', serif;
	letter-spacing: 0.5px;
	color: #363a4a;
}

h1{
	font-size: 36px;
	font-family: 'Poiret One', cursive;
	font-weight: 400;
	margin: 20px 0;
}

h2{
	font-size: 24px;
	font-family: 'Poiret One', cursive;
	font-weight: 400;
}

h3{
	font-size: 18px;
	font-family: 'Poiret One', cursive;
	font-weight: 600;
}

h4{
	font-size: 14px;
}

h5{
	font-size: 12px;
}

h6{
	font-size: 10px;
}

h1,h2,h3,h4,h5,h5{
	text-align: center;
}

.label-heading{
	font-size: 14px;
	font-family: "Open Sans", Serif;
	font-weight: 500;
	color: #666;
}

.undered{
	border-bottom: solid 1px #E2E2E2;
	text-align: left;
	font-weight: 400;
    color: #A9A9A9;
    text-transform: uppercase;
    letter-spacing: 2.5px;
}

p{
	font-size: 14px;
}

.text-upper{
	text-transform: uppercase;
}

.clear{
	clear: both;
}

.m-b-20{
	margin-bottom: 20px;
}
.m-b-10{
	margin-bottom: 10px;
}
.m-b-90{
	margin-bottom: 90px;
}
.m-b-50{
	margin-bottom: 50px;
}
.m-t-20{
	margin-top: 20px;
}
.m-t-30{
	margin-top: 30px;
}
.m-t-10{
	margin-top: 10px;
}
.m-t-90{
	margin-top: 90px;
}
.m-t-50{
	margin-top: 50px;
}

.m-20-0{
	margin: 20px 0;
}
.m-30-0{
	margin: 30px 0;
}
.m-10-0{
	margin: 10px 0;
}
.m-5-0{
	margin: 5px 0;
}

.wrap{
	float:left;
	width: 100%;
	position: relative;
}

.p-5{
	padding: 5px;
}
.p-5-15{
	padding: 5px 15px;
}
.p-15{
	padding: 15px;
}
.p-15-30{
	padding: 15px 30px;
}
.p-30{
	padding: 30px;
}
.p-10{
	padding: 10px;
}
.p-20{
	padding: 20px;
}
.p-0-20{
	padding: 0 20px;
}
.p-0-10{
	padding: 0 10px;
}
.p-0-15{
	padding: 0 15px;
}
.p-0-5{
	padding: 0 5px;
}

.shadow-n{
	box-shadow: 0px 1px 5px #e1e1e1;
}
.shadow-s{
	box-shadow: 0px 1px 3px #cacaca;
}
.shadow-m{
	box-shadow: 1px 2px 5px #bebebe;
}
.shadow-l{
	box-shadow: 2px 3px 14px #aaa;
}
.shadow-xl{
	box-shadow: 3px 4px 20px 3px #aaa;
}

.fill-r{
	background-color: rgba(255, 118, 104, 0.35);
}
.fill-g{
	background-color: rgba(154, 255, 129, 0.35);
}
.fill-b{
	background-color: rgba(129, 185, 255, 0.35);
}
.fill-y{
	background-color: rgba(255, 224, 106, 0.35);
}


.bord-s{
	border: solid 2px #e1e1e1;
}
.bord-m{
	border: solid 4px #e1e1e1;
}
.bord-l{
	border: solid 6px #e1e1e1;
}
.bord-xl{
	border: solid 8px #e1e1e1;
}
.bord-n{
	border: solid 1px #e1e1e1;
}

.b-r-n{
	border-radius: 2px;
}
.b-r-s{
	border-radius: 4px;
}
.b-r-m{
	border-radius: 8px;
}
.b-r-l{
	border-radius: 16px;
}
.b-r-xl{
	border-radius: 32px;
}

.btn:focus{
	outline: none;
}
.btn{
	position: relative;
	display: inline-block;
	padding: 10px 30px;
	border-radius: 4px;
	border: none;
	font-family: 'Open Sans', serif;
	font-weight: 600;
	/*transition: background-color 0.1s;*/
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	line-height: 0.9em;
}

.btn.corner{
	border-radius: 0;
}

.btn-r{
	background-color: #fb4758;
	color: #fff;
}
.btn-r:hover, .btn-r.active{
	background-color: #ff6c7a;
	color: #fff;
}
.btn-g{
	background-color: #00c292;
	color: #fff;
}
.btn-g:hover, .btn-g.active{
	background-color: #33cea7;
	color: #fff;
}
.btn-b{
	background-color: #03a9f3;
	color: #fff;
}
.btn-b:hover, .btn-b.active{
	background-color: #35baf5;
	color: #fff;
}
.btn-y{
	background-color: #fec107;
	color: #fff;
}
.btn-y:hover, .btn-y.active{
	background-color: #fecd38;
	color: #fff;
}


.btn-brd.btn-r{
	border: solid 1px #fb4758;
	color: #fb4758;
	background-color: transparent;
}
.btn-brd.btn-r:hover, .btn-brd.btn-r.active{
	color: #fff;
	background-color: #fb4758;
}
.btn-brd.btn-g{
	color: #00c292;
	border: solid 1px #00c292;
	background-color: transparent;
}
.btn-brd.btn-g:hover, .btn-brd.btn-g.active{
	background-color: #00c292;
	color: #fff;
}
.btn-brd.btn-b{
	color: #03a9f3;
	background-color: transparent;
	border: solid 1px #03a9f3;
}
.btn-brd.btn-b:hover, .btn-brd.btn-b.active{
	background-color: #03a9f3;
	color: #fff;
}
.btn-brd.btn-y{
	color: #fec107;
	background-color: transparent;
	border: solid 1px #fec107;
}
.btn-brd.btn-y:hover, .btn-brd.btn-y.active{
	background-color: #fec107;
	color: #fff;
}


.b-group .btn, .b-group-v .btn{
	border-radius: 0;
}
.b-group .btn:first-child{
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.b-group .btn:last-child{
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}
.b-group.wo-o .btn:nth-child(n+2){
	margin-left: -1px;
}
.b-group.wo-b .btn:nth-child(n+2){
	border-left: none;
	margin-left: 0;
}
.b-group.wo-b .btn:nth-last-child(n+2){
	border-right: none;
	margin-left: 0;
}


.b-group-v .btn:first-child{
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.b-group-v .btn:last-child{
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}
.b-group-v.wo-o .btn:nth-child(n+2){
	margin-top: -1px;
}
.b-group-v.wo-b .btn:nth-child(n+2){
	border-top: none;
	margin-top: 0;
}
.b-group-v.wo-b .btn:nth-last-child(n+2){
	border-bottom: none;
	margin-top: 0;
}




.btn-s{
	padding: 7px 15px;
	font-size: 14px;
}
.btn-m{
	padding: 10px 30px;
	font-size: 18px;
}
.btn-l{
	padding: 15px 45px;
	font-size: 24px;
}
.btn-n{
	padding: 4px 12px;
	font-size: 10px;
}
.btn-xl{
	padding: 25px 75px;
	font-size: 28px;
}


html,body,ul,li{
	margin: 0;
	padding: 0;
	list-style: none;
}

.tabs-body .tab-b.active{
	display: block;
}
.tabs-body .tab-b{
	display: none;
}

[class*="container"]{
	margin: 0 auto;
}

.container, .fluid {
	position: relative;
}
.container, .container-f {
	width: 1200px;
}
.container-xl, .container-xl-f {
	width: 1600px;
}
.container-l, .container-l-f {
	width: 1444px;
}
.container-m, .container-m-f {
	width: 960px;
}
.container-s, .container-s-f {
	width: 768px;
}
.container-x, .container-x-f {
	width: 540px;
}
.container-n, .container-n-f {
	width: 320px;
}

.box-container{
	width: 100%;
}

.no-scrollbars{
	overflow: hidden !important;
}

* .fleft {
	float: left;
}

* .fright {
	float: right;
}

* .fnone {
	float: none;
}

.dnone{
	display: none;
}
.dblock{
	display: block;
}
.dinline{
	display: inline;
}
.dinbl{
	display: inline-block;
}
.dflex{
	display: flex;
}
.dtable{
	display: table;
}
.dcell{
		display: table-cell;
}

.fluid {
	width: 100%;
}

.o-h{
	overflow: hidden;
}

.f-b{
	font-weight: 500;
}
.f-bl{
	font-weight: 700;
}
.f-bm{
	font-weight: 600;
}
.f-bs{
	font-weight: 400;
}
.f-b-x{
	font-weight: 300;
}
.f-s-i{
	font-style: italic;
}
.f-s-n{
	font-style: normal;
}

.b-b{
	box-sizing: border-box;
}
.f-h{
	height: 100%;
}

.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.text-justify{
	text-align: justify;
}

[class*="b-w-"] {
	float:left;
	position: relative;
	min-height: 10px;
	box-sizing: border-box;
}

select{
	width: 100%;
	height: 50px;
	border: solid 1px #e2e2e2;
	padding: 10px 30px;
}
select:focus{
	outline: none;
	border-color: #aaa;
}
input[type="text"], input[type="email"], input[type="number"], input[type="password"], textarea, .textarea{
	width: 100%;
    height: 50px;
    border: solid 1px #e2e2e2;
	padding: 10px 30px;
	box-sizing: border-box;
}
input[type="text"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, textarea:focus, .textarea:focus{
	outline: none;
	border-color: #aaa;
}

input.valid-error{
	border-color: #A51313 !important;
}
textarea, .textarea{
	height: auto;
	min-width: 100%;
	max-width: 100%;
	min-height: 100px;
}

.imm-scroll{
	position: relative;
}
.imm-scroll-in{
	position: relative;
	float:left;
	width: 100%;
	min-height: 100%;
	padding-right: 12px;
	box-sizing: border-box;
	will-change: margin-top;
}

.imm-input{
	position: relative;
    height: auto;
	box-sizing: border-box;
}
.imm-input input, .imm-input textarea{
	z-index: 1;
    background: transparent;
	position: relative;
	
}
.imm-input input:focus + label, .imm-input input.active + label, .imm-input textarea:focus + label, .imm-input textarea.active + label{
	top: -35px;
    left: -30px;
    font-size: 14px;
	color: #666;
	font-weight: 500;
}
.imm-input label{
	position: absolute;
    top: 0;
	left: 0;
    padding: 15px 0 15px 30px;
    color: #aaa;
    font-family: 'Open Sans', cursive;
    font-size: 16px;
	font-weight: normal;
    z-index: 0;
	transition: top 0.27s, left 0.25s, font-size 0.27s;
	white-space: nowrap;
	max-width: 100%;
    box-sizing: border-box;
    overflow: hidden;
	text-overflow: ellipsis;
}

.imm-select-body-block{
	border: solid 1px #e2e2e2;
	transition: border-color 0.3s, bottom 0.3s;
	position: relative;
	overflow: hidden;
	bottom: 0;
}
.imm-select-body-block ul li{
	height: 50px;
	box-sizing: border-box;
	padding: 0 30px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s, opacity 0.3s, padding 0.3s;
	opacity: 0;
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

.inverted.imm-select-base-block:focus .imm-select-searchbar{
	border-top: none;
	border-bottom: solid 1px #aaa;
}

.inverted.imm-select-base-block > .imm-select-body-block{
	position: absolute;
    width: 100%;
    box-sizing: border-box;

}
.inverted.imm-select-base-block:focus > .imm-select-body-block{
	bottom: 50px;
}
.inverted.imm-select-base-block > .imm-select-body-block::before{
	bottom: 21px;
	top: auto;
}
.multiselect.imm-select-base-block .imm-select-body-block ul li{
	display: inline-block;
	width: 0;
	padding: 0;
	line-height: 0.9em;
}
.multiselect.imm-select-base-block .imm-select-body-block ul li.active{
	width: auto;
	padding: 0px 10px 0px 0;
	height: auto;
}
.multiselect.imm-select-base-block .imm-select-body-block ul{
    white-space: nowrap;
	box-sizing: border-box;
	padding: 15px 30px;
	height: 50px;
	transition: margin-top 0s;
}
.multiselect.imm-select-base-block:focus .imm-select-body-block ul{
	white-space: normal;
	height: auto;
	padding: 0;
}
.multiselect.imm-select-base-block:focus .imm-select-body-block ul li.active{
	background-color: rgba(0,0,0,0.1);
	height: 50px;
}
.multiselect.imm-select-base-block:focus .imm-select-body-block ul li.active::after{
	content: '';
}
.multiselect.imm-select-base-block:focus .imm-select-body-block ul li{
	width: auto;
	padding: 15px 30px;
	width: 100%;
	display: block;
}


.imm-select-base-block label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px 30px;
    color: #aaa;
    font-family: 'Poiret One', cursive;
    font-size: 16px;
    z-index: 0;
    transition: top 0.27s, left 0.25s, font-size 0.27s;
	font-family: "Open Sans"
}

.imm-select-base-block:focus label, .imm-select-base-block.items-selected label{
	top: -35px;
    left: -30px;
    font-size: 14px;
    color: #333;
}



.imm-select-body-block ul li.active{
	max-height: 48px;
	padding: 15px 30px;
	opacity: 1;
}
.imm-select-base-block:focus .imm-select-body-block{
	outline: none;
	border-color: #aaa;
}
.imm-select-base-block:focus .imm-select-body-block ul li{
	max-height: 50px;
	padding: 15px 30px;
	opacity: 1;
}
.imm-select-base-block:focus .imm-select-body-block ul li:hover{
	background-color: rgba(200,200,200,0.1);
}

.imm-select-base-block:focus .imm-select-body-block ul li.filtered{
	max-height: 0;
	padding: 0 30px;
}
.imm-select-base-block .imm-select-body-block ul li u{
	text-decoration: none;
}
.imm-select-base-block:focus .imm-select-body-block ul li u{
	text-decoration: underline;
}
.imm-select-searchbar::before {
    content: '\1F50D';
    position: absolute;
    right: -100px;
    width: 20px;
    height: 20px;
    top: 10px;
    color: #555;
    font-size: 20px;
	transition: right 0.7s;
}
.imm-select-base-block:focus .imm-select-searchbar::before {
	right: 10px;
}

.imm-select-base-block{
	position: relative;
	height: 50px;
	z-index: 101;
}

.imm-select-base-block:focus {
	outline: none;
	z-index: 201;
}

.imm-select-base-block .imm-select-searchbar{
	position: relative;
	height: 50px;
	max-height: 0;
	padding: 0 30px;
	opacity: 0;
	border: solid 1px #e2e2e2;
	border-width: 0;
	border-bottom: none;
	box-sizing: border-box;
	overflow: hidden;
	transition: max-height 0.3s, opacity 0.3s, padding 0.3s, border-width 0s linear 0.3s, border-color 0.3s;
}

.imm-select-base-block:focus .imm-select-searchbar{
	max-height: 50px;
	padding: 15px 30px;
	border-width: 1px;
	opacity: 1;
	transition-delay: 0;
	transition: max-height 0.3s, opacity 0.3s, padding 0.3s, border-width 0s;
	border-color: #aaa;
}

.imm-select-base-block:focus .imm-select-searchbar::after{
	position: relative;
	display: inline-block;
	width: 1px;
	height: 20px;
	background-color: #555;
	content: '';
	animation-name: search-blink;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

@keyframes search-blink{
	0%{
		opacity: 1;
	}
	50%{
		opacity: 1;
	}
	51%{
		opacity: 0;
	}
	100%{
		opacity: 0;
	}
}

.imm-select-body-block ul{
	position: relative;
	background-color: #fff;
	transition: margin-top 0.3s;
}
.imm-select-base-block:focus .imm-select-body-block ul{
	transition: none;
}
.imm-select-searchbar span.def-search{
	color: #555;
	line-height: 1em;
	position: relative;
	top: -4px;
}
.imm-select-body-block::before{
    position: absolute;
    display: block;
    right: 10px;
    top: 22px;
    border-top: solid 7px #464646;
    border-left: solid 5px transparent;
    border-right: solid 5px transparent;
    content: '';
	transform: rotate(0deg);
	transition: transform 0.5s;
	transform-origin: 50% 30%;
	z-index: 2;
}
.imm-select-body-block::after{
	position: absolute;
	z-index: 2;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	content: "";
	display: block;
}

.imm-select-base-block:focus .imm-select-body-block::after{
	display: none;
}
.imm-select-base-block:focus .imm-select-body-block::before{
	transform: rotate(180deg);
}
.imm-select-body-block .scroll-line, .imm-scroll .scroll-line{
	width: 7px;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	background-color: #f2f2f2;
	right: -10px;
	transition: right 0.2s;
	cursor: default;
}
.imm-select-body-block .scroll-line.active, .imm-scroll .scroll-line.active{
	right: 0;
}
.imm-select-body-block .scroll-line > div, .imm-scroll .scroll-line > div{
	width: 100%;
	position: absolute;
	top: 0;
	right: 0;
	max-height: 100%;
	background-color: rgba(30,30,30,0.1);
	transition: height 0.3s;
}
.imm-radio-block{
	display: inline-block;
	margin-bottom: 5px;
}
.imm-radio-but{
	position: relative;
	width: 20px;
	height: 20px;
	display: inline-block;
	border-radius: 50%;
	border: solid 2px #e2e2e2;
	margin-right: 5px;
	vertical-align: middle;
	transition: border-color 0.3s;
}
.imm-radio-label{
	font-size: 16.2px;
}
.imm-radio-active-circles{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
}
.imm-radio-active-circle{
	position: absolute;
	top: 0;
	left: 0;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: #aaa;
	width: 0;
	height: 0;
	margin-top: 12px;
	margin-left: 12px;
}
.imm-radio-active-circle.blue{
	background-color: rgb(69, 160, 239);
}
.imm-radio-active-circle.yellow{
	background-color: #fec107;
}
.imm-radio-active-circle.red{
	background-color: #fb4758;
}
.imm-radio-active-circle.green{
	background-color: #00c292;
}
.imm-radio{
	display: none;
}
.imm-radio-active-circle.transit{
	transition: width 0.2s, height 0.2s, margin-top 0.2s, margin-left 0.2s, left 0.2s cubic-bezier(0, 0, 0, 1.2), top 0.2s cubic-bezier(0, 0, 0, 1.2), background-color 0.3s;
}
.imm-radio-active-circle.active{
	width: 16px;
	height: 16px;
	left: 0;
	top: 0;
	margin-top: 4px;
	margin-left: 4px;
}
.imm-radio-block input[type="radio"].imm-radio:checked + .imm-radio-but{
	border-color: #aaa;
}
.imm-radio-block.blue input[type="radio"].imm-radio:checked + .imm-radio-but{
	border-color: rgb(69, 160, 239);
}
.imm-radio-block.yellow input[type="radio"].imm-radio:checked + .imm-radio-but{
	border-color: #fec107;
}
.imm-radio-block.red input[type="radio"].imm-radio:checked + .imm-radio-but{
	border-color: #fb4758;
}
.imm-radio-block.green input[type="radio"].imm-radio:checked + .imm-radio-but{
	border-color: #00c292;
}
.imm-check-block{
	display: inline-block;
	margin-bottom: 5px;
}
.imm-check-box{
	position: relative;
	width: 20px;
	height: 20px;
	border: solid 2px #e2e2e2;
	margin-right: 5px;
	vertical-align: middle;
	border-radius: 0px;
	display: inline-block;
	transition: border-color 0.7s;
	overflow: hidden;
	background-color: #fff;
}
.imm-check-label{
	position: relative;
}

.imm-check:checked + .imm-check-box{
	border-color: #aaa;
}
.imm-check:checked + .imm-check-box.blue{
	border-color: rgb(69, 160, 239);
}
.imm-check:checked + .imm-check-box.green{
	border-color: #00c292;
}
.imm-check:checked + .imm-check-box.yellow{
	border-color: #fec107;
}
.imm-check:checked + .imm-check-box.red{
	border-color: #fb4758;
}

.imm-check-box.enabled{
	background-color: #aaa;
}
.imm-check-box.enabled.blue{
	background-color: rgb(69, 160, 239);
}
.imm-check-box.enabled.green{
	background-color: #00c292;
}
.imm-check-box.enabled.yellow{
	background-color: #fec107;
}
.imm-check-box.enabled.red{
	background-color: #fb4758;
}

.imm-check-box::after {
    content: '\2714';
    color: #fff;
    width: 100%;
    text-align: center;
    display: inline-block;
    z-index: 100;
    position: relative;
    font-size: 20px;
    line-height: 20px;
}

.imm-check-box .imm-check-circ{
	border-radius: 50%;
	position: absolute;
	pointer-events: none;
}
.imm-check-box .imm-check-circ.enabled{
	background-color: #aaa;
}
.imm-check-box.blue .imm-check-circ.enabled{
	background-color: rgb(69, 160, 239);
}
.imm-check-box.green .imm-check-circ.enabled{
	background-color: #00c292;
}
.imm-check-box.yellow .imm-check-circ.enabled{
	background-color: #fec107;
}
.imm-check-box.red .imm-check-circ.enabled{
	background-color: #fb4758;
}
.imm-check-box .imm-check-circ.disabled{
	background-color: #fff;
}
.imm-textarea:focus{
	outline: none;
	border-color: #aaa;
}
.imm-textarea{
	min-height: 90px;
    border: solid 1px #e2e2e2;
    box-sizing: border-box;
    padding: 10px;
	transition: border-color 0.3s;
	font-size: 14px;
}
.imm-datepicker-container::after{
	content: '\1F4C5';
    position: absolute;
    right: 5px;
    top: 8px;
    font-size: 22px;
}
.imm-datepicker-container{
	position: relative;
	z-index: 10;
}
.imm-datepicker-dialog-container{
	position: absolute;
	z-index: 31;
	background-color: #fff;
	box-shadow: 1px 2px 4px rgba(0,0,0,0.15);
	width: 220px;
	min-height: 50px;
}
.imm-dp-dialog-head .imm-dp-head-mid{
	float: left;
	width: 69.9999%;
	height: 100%;
	text-align: center;
	padding: 10px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	box-sizing: border-box;
}
.imm-dp-dialog-head .imm-dp-head-mid span{
	color: #555;
}
.imm-dp-dialog-head .imm-dp-head-right{
	float: right;
	width: 15%;
	height: 100%;
	border-left: solid 1px #e5e5e5;
	box-sizing: border-box;
	position: relative;
	cursor: pointer;
}
.imm-dp-dialog-head .imm-dp-head-left{
	float: left;
	width: 15%;
	height: 100%;
	border-right: solid 1px #e5e5e5;
	box-sizing: border-box;
	position: relative;
	cursor: pointer;
}
.imm-dp-dialog-head .imm-dp-head-right::before, .imm-dp-dialog-head .imm-dp-head-right::after{
	content: '';
    position: absolute;
    width: 10px;
    height: 2px;
    background-color: #ddd;
    transform: rotate(45deg);
    top: 13px;
    left: 11px;
}
.imm-dp-dialog-head .imm-dp-head-left::before, .imm-dp-dialog-head .imm-dp-head-left::after{
	content: '';
    position: absolute;
    width: 10px;
    height: 2px;
    background-color: #ddd;
    transform: rotate(45deg);
    top: 19px;
    left: 11px;
}
.imm-dp-dialog-head .imm-dp-head-right::after{
	transform: rotate(-45deg);
	top: 19px;
}
.imm-dp-dialog-head .imm-dp-head-left::after{
	transform: rotate(-45deg);
	top: 13px;
}
.imm-dp-dialog-head{
	height: 70px;
}
.imm-dp-dialog-head > div{
	height: 35px;
	box-sizing: border-box;
	border-bottom: solid 1px #e5e5e5;
}
.imm-dp-body-inn > div:hover{
	background-color: #f1f1f1;
}
.imm-dp-body-inn{
	box-sizing: border-box;
    padding: 5px;
}
.imm-dp-body-inn > div{
	display: inline-block;
    width: 14.285714%;
    position: relative;
    text-align: center;
    font-size: 14px;
    height: 30px;
    line-height: 31px;
	cursor: pointer;
	border-radius: 4px;
	vertical-align: top;
}
.imm-dp-body-inn > div.none:hover{
	background-color: #fff;
}
.imm-dp-body-inn > div.none{
	cursor: default;
}
.imm-dp-body-inn > div.today{
	background-color: #e4e4e4;
}
.imm-dp-body-inn > div.now{
	background-color: #777;
	color: #fff;
}


/* IMM-NUMBERS */
.imm-number-container{
	position: relative;
	height: 50px;
    box-sizing: border-box;
}
.imm-number-picker{
    position: absolute;
    right: 5px;
    width: 40px;
    top: 5px;
    height: 40px;
    border-radius: 50%;
    border: solid 3px #aaaaaa;
    box-sizing: border-box;
    padding: 5px;
}
.imm-number-picker::before{
    position: absolute;
    top: 7px;
    left: 7px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #aaaaaa;
    content: '';
}
.imm-number-picker > span{
	font-size: 14px;
	font-weight: bold;
	position: relative;
	display: block;
}
.imm-number{
	font-size: 16px;
}
.imm-number-counter{
	position: absolute;
    top: 10px;
    bottom: 10px;
    left: 30px;
    right: 30px;
    line-height: 2em;	
	display: none;
}
.imm-number-counter > span{
	font-size: 16px;
    /* vertical-align: bottom; */
    line-height: 1.8em;
    height: 100%;
    display: inline-block;
}

.imm-number-container.active .imm-number{
	display: none;
}
.imm-number-container.active .imm-number-counter{
	display: block;
}
.imm-number-container.active .imm-number-picker{
	top: 4px;
	right: 4px;
}
.imm-number-container.active{
	border: solid 1px #aaa;
}





/* RESPONSIVE TABLE */
.responsive-table {
  width: 100%;
  margin-bottom: 1.5em;
}
@media (min-width: 48em) {
  .responsive-table {
    font-size: .9em;
  }
}
@media (min-width: 62em) {
  .responsive-table {
    font-size: 1em;
  }
}
.responsive-table{
	width: 100%;
}
.responsive-table thead {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
@media (min-width: 48em) {
  .responsive-table thead {
    position: relative;
    clip: auto;
    height: auto;
    width: auto;
    overflow: auto;
  }
}
.responsive-table thead th {
	background-color: #0478d8;
	border: 1px solid #0478d8;
	font-weight: normal;
	text-align: center;
	color: white;
}
.responsive-table thead th:first-of-type {
  text-align: left;
}
.responsive-table tbody,
.responsive-table tr,
.responsive-table th,
.responsive-table td {
	display: block;
	padding: 0;
	text-align: left;
	white-space: normal;
	line-height: 1em;
	font-weight: normal;
}
@media (min-width: 48em) {
  .responsive-table tr {
    display: table-row;
  }
}
.responsive-table th,
.responsive-table td {
  padding: .5em;
  vertical-align: middle;
}
@media (min-width: 30em) {
  .responsive-table th,
  .responsive-table td {
    padding: .75em .5em;
  }
}
@media (min-width: 48em) {
  .responsive-table th,
  .responsive-table td {
    display: table-cell;
    padding: .5em;
  }
}
@media (min-width: 62em) {
  .responsive-table th,
  .responsive-table td {
    padding: .75em .5em;
  }
}
@media (min-width: 75em) {
  .responsive-table th,
  .responsive-table td {
    padding: .75em;
  }
}
.responsive-table caption {
  margin-bottom: 1em;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}
@media (min-width: 48em) {
  .responsive-table caption {
    font-size: 1.5em;
  }
}
.responsive-table tfoot {
  font-size: .8em;
  font-style: italic;
}
@media (min-width: 62em) {
  .responsive-table tfoot {
    font-size: .9em;
  }
}
@media (min-width: 48em) {
  .responsive-table tbody {
    display: table-row-group;
  }
}
.responsive-table tbody tr {
  margin-bottom: 1em;
  border: 2px solid #5894E0;
}
@media (min-width: 48em) {
  .responsive-table tbody tr {
    display: table-row;
    border-width: 1px;
  }
}
.responsive-table tbody tr:last-of-type {
  margin-bottom: 0;
}
@media (min-width: 48em) {
  .responsive-table tbody tr:nth-of-type(even) {
    background-color: rgb(237, 241, 245);
  }
}
.responsive-table tbody th[scope="row"] {
  background-color: #5894E0;
  color: white;
}
@media (min-width: 48em) {
  .responsive-table tbody th[scope="row"] {
    background-color: transparent;
    color: #5e5d52;
    text-align: left;
  }
}
.responsive-table tbody td {
  text-align: right;
}
@media (min-width: 30em) {
  .responsive-table tbody td {
    /*border-bottom: 1px solid #1d96b2;*/
  }
}
@media (min-width: 48em) {
  .responsive-table tbody td {
    text-align: center;
  }
}
.responsive-table tbody td[data-type=currency] {
  text-align: right;
}
.responsive-table tbody td[data-title]:before {
  content: attr(data-title);
  float: left;
  font-size: .8em;
  color: rgba(94, 93, 82, 0.75);
}
@media (min-width: 30em) {
  .responsive-table tbody td[data-title]:before {
    font-size: .9em;
  }
}
@media (min-width: 48em) {
  .responsive-table tbody td[data-title]:before {
    content: none;
  }
}

/* END RESPONSIVE TABLE */






.sz-n{
	
}
.sz-x{
	
}
.sz-s{
	
}
.sz-m{
	
}
.sz-l{
	
}
.sz-xl{
	
}

.pad-w-3{
	margin-left: -3px;
	margin-right: -3px;
}
.pad-w-3 > [class*="b-w-"]{
	padding-left: 3px;
	padding-right: 3px;
}
.pad-w-6{
	margin-left: -6px;
	margin-right: -6px;
}
.pad-w-6 > [class*="b-w-"]{
	padding-left: 6px;
	padding-right: 6px;
}
.pad-w-10{
	margin-left: -10px;
	margin-right: -10px;
}
.pad-w-10 > [class*="b-w-"]{
	padding-left: 10px;
	padding-right: 10px;
}
.pad-w-15{
	margin-left: -15px;
	margin-right: -15px;
}
.pad-w-15 > [class*="b-w-"]{
	padding-left: 15px;
	padding-right: 15px;
}
.pad-w-20{
	margin-left: -20px;
	margin-right: -20px;
}
.pad-w-20 > [class*="b-w-"]{
	padding-left: 20px;
	padding-right: 20px;
}
.pad-w-30{
	margin-left: -30px;
	margin-right: -30px;
}
.pad-w-30 > [class*="b-w-"]{
	padding-left: 30px;
	padding-right: 30px;
}


.b-w-1, .b-w-1-n, .b-w-1-x, .b-w-1-s, .b-w-1-m, .b-w-1-l, .b-w-1-xl {
	width: 8.33333%;
}

.b-w-2, .b-w-2-n, .b-w-2-x, .b-w-2-s, .b-w-2-m, .b-w-2-l, .b-w-2-xl {
	width: 16.66666%;
}

.b-w-3, .b-w-3-n, .b-w-3-x, .b-w-3-s, .b-w-3-m, .b-w-3-l, .b-w-3-xl {
	width: 24.99999%;
}

.b-w-4, .b-w-4-n, .b-w-4-x, .b-w-4-s, .b-w-4-m, .b-w-4-l, .b-w-4-xl {
	width: 33.33333%;
}

.b-w-5, .b-w-5-n, .b-w-5-x, .b-w-5-s, .b-w-5-m, .b-w-5-l, .b-w-5-xl {
	width: 41.66666%;
}

.b-w-6, .b-w-6-n, .b-w-6-x, .b-w-6-s, .b-w-6-m, .b-w-6-l, .b-w-6-xl {
	width: 49.99999%;
}

.b-w-7, .b-w-7-n, .b-w-7-x, .b-w-7-s, .b-w-7-m, .b-w-7-l, .b-w-7-xl {
	width: 58.33333%;
}

.b-w-8, .b-w-8-n, .b-w-8-x, .b-w-8-s, .b-w-8-m, .b-w-8-l, .b-w-8-xl {
	width: 66.66666%;
}

.b-w-9, .b-w-9-n, .b-w-9-x, .b-w-9-s, .b-w-9-m, .b-w-9-l, .b-w-9-xl {
	width: 74.99999%;
}

.b-w-10, .b-w-10-n, .b-w-10-x, .b-w-10-s, .b-w-10-m, .b-w-10-l, .b-w-10-xl {
	width: 83.33333%;
}

.b-w-11, .b-w-11-n, .b-w-11-x, .b-w-11-s, .b-w-11-m, .b-w-11-l, .b-w-11-xl {
	width: 91.66666%;
}

.b-w-12, .b-w-12-n, .b-w-12-x, .b-w-12-s, .b-w-12-m, .b-w-12-l, .b-w-12-xl {
	width: 100%;
}





@media (max-width:1600px) {
	.b-w-1-xl, .b-w-2-xl, .b-w-3-xl, .b-w-4-xl, .b-w-5-xl, .b-w-6-xl, .b-w-7-xl, .b-w-8-xl, .b-w-9-xl, .b-w-10-xl, .b-w-11-xl, .b-w-12-xl {
		width: 100%;
	}
	.container-xl {
		width: 1200px;
	}
	.container-xl-f {
		width: 100%;
	}
	
	
	.sz-xl{
		width: 100%;
	}
}


@media (max-width:1200px) {
	.b-w-1-l, .b-w-2-l, .b-w-3-l, .b-w-4-l, .b-w-5-l, .b-w-6-l, .b-w-7-l, .b-w-8-l, .b-w-9-l, .b-w-10-l, .b-w-11-l, .b-w-12-l {
		width: 100%;
	}
	.container-l, .container-xl {
		width: 960px;
	}
	.container-l-f{
		width: 100%;
	}
	
	
	.sz-x{
		width: 100%;
	}
}

@media (max-width:960px) {
	.b-w-1-m, .b-w-2-m, .b-w-3-m, .b-w-4-m, .b-w-5-m, .b-w-6-m, .b-w-7-m, .b-w-8-m, .b-w-9-m, .b-w-10-m, .b-w-11-m, .b-w-12-m {
		width: 100%;
	}
	.container-m, .container-l, .container-xl {
		width: 768px;
	}
	.container-m-f{
		width: 100%;
	}
	
	
	.sz-m{
		width: 100%;
	}
}

@media (max-width:768px) {
	.b-w-1-s, .b-w-2-s, .b-w-3-s, .b-w-4-s, .b-w-5-s, .b-w-6-s, .b-w-7-s, .b-w-8-s, .b-w-9-s, .b-w-10-s, .b-w-11-s, .b-w-12-s {
		width: 100%;
	}
	.container-s, .container-m, .container-l, .container-xl {
		width: 540px;
	}
	.container-s-f{
		width: 100%;
	}
	
	
	.sz-s{
		width: 100%;
	}
}

@media (max-width:540px) {
	.b-w-1-x, .b-w-2-x, .b-w-3-x, .b-w-4-x, .b-w-5-x, .b-w-6-x, .b-w-7-x, .b-w-8-x, .b-w-9-x, .b-w-10-x, .b-w-11-x, .b-w-12-x {
		width: 100%;
	}
	.container-x, .container-s, .container-m, .container-l, .container-xl {
		width: 320px;
	}
	.container-x-f{
		width: 100%;
	}
	
	
	.sz-x{
		width: 100%;
	}
}

@media (max-width:320px) {
	.b-w-1-n, .b-w-2-n, .b-w-3-n, .b-w-4-n, .b-w-5-n, .b-w-6-n, .b-w-7-n, .b-w-8-n, .b-w-9-n, .b-w-10-n, .b-w-11-n, .b-w-12-n {
		width: 100%;
	}
	.container-n, .container-x, .container-s, .container-m, .container-l, .container-xl {
		width: 100%;
	}
	.container-s-f{
		width: 100%;
	}
	
	
	.sz-n{
		width: 100%;
	}
}









